* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;                  /* Sayfanın Arka planda bir resim varsa onu sayfaya tam sığdırmak için kullanılır*/
  background-position: center;    /* Fotoğrafı ortalamk için kullanıldı */
  background-size: cover;         /* Resmi arka plana cuk oturtmak için kullanılır */
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(background.png);
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;        /* Fotoğrafı arka plana tam oturtmak için kullanılır, yoksa pixel farkından dolayı scroll bar çıkabilir. */
}

.navbar {
  height: 12%;                   /* Menu bar ın div içerisinden %12 altından başlayarak yazılmasını sağladı */
  display: flex;                 /* ???????????? */
  align-items: center;           /* Elemanları div içerisinde hizaladık, yoksa logoları div yüksekliğine göre ayarladı*/
}

.logo {
  width: 50px;
  cursor: pointer;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;            /* Menu icon u navbar seçeneklerinden uzaklaştımak için kullanıldı */
}

nav {
  flex: 1;
  text-align: right;            /* Menu elemanlarını sağa doğru alabilmek için kullanıldı */
}

nav ul li {
  list-style: none;            /* Nokta kalktı */
  display: inline-block;       /* Standart yan yana yazdırdık */
  margin-left: 60px;           /* Elemanları önce yukarıda sağa yapıştırdı sonra da bununla da sola doğru açtı */
}

nav ul li a {
  text-decoration: none;       /* Alt çizgi kalktı */
  color: #fff;
  font-size: 13px;
}

nav ul li a:hover {
 background-color: yellow;
 text-decoration: underline;
 color: black;
}


.row {
  display: flex;
  height: 88%;
  align-items: center;
}

.col {
  flex-basis: 50;               /* ??????????????? */
}

h1 {
  color: #fff;
  font-size: 100px;
  text-shadow: 0 15px 10px yellow;   /* Text lerin arka planına gölge verebilmek için kullanıldı */
}

p {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

button {
  width: 120px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;             /* Button sınırı ile içerik(explore) arasındaki uzaklığı ayarlamak için kullanıldı */
  background: #fff;
  border: 1px solid orange;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;           /* Üstteki yazı ile olan uzaklığını ayarladık */
}

.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 20px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;     /* Geçiş efektlerinin hızını ayarlamak için kullanıldı, renk olur burada yerini değiştirir */
}
.card1 {
  background-image: url(img/pic-1.png);
}
.card2 {
  background-image: url(img/pic-2.png);
}
.card3 {
  background-image: url(img/pic-3.png);
}
.card4 {
  background-image: url(img/pic-4.png);
}
.card:hover {
  transform: translateY(-10px);     /* Burada da resmin üzerine gelindiğinde Y ekseninde 10 px lik hareket etmesini sağladık */
}
h5 {
  color: black;
  text-shadow: 0 -15px 300px red;  /* Text lerin arka planına gölge verebilmek için kullanıldı */
}
.card p {
  text-shadow: 0 0 15px #000;
  font-size: 8px;
}
