@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); /* fonts.googleapis.com dan site yazı stili için bu ifade yazılır*/

* {                               
  margin: 0;                      /* Her projede bu iki kodu yazmakta fayda vardır, sayfanın default boşluklarını sıfırlar */
  padding: 0;
  box-sizing: border-box;         /* Etiketleri kendilerine verilen boyutlar içerisinde sınırlar, yani margin-padding olayları etiketin boyutunu etkilemez */
}

.container {
  background: url(bg.jpg);        /* Arka plan resmini ayarladık */
  height: 100vh;                  /* 50vh yapılırsa sayfanın yarısını doldurur */
  background-size: 100% 100%;     /* 50% 50% yapılırsa sayfada 4 resim oluşur, bu şekilde sayfanın tamamını doldurttuk */
}

.container .navbar {
  width: 100%;                    /* Navbar ın olduğu div in genişliği sayfa kadar olsun dedik */
  height: 80px;                   /* Yükseklik belirledik */
  background: rgba(22, 112, 214, 0.4);   /* background içine her türlü değer (color,yükselik etc.) yazılabiliyor */
}

.container .navbar .logo {
  display: inline-block;          /* li etiketleriyle (menüyü oluşturan) aynı hizaya/satıra getirir fakat block özellikleri gösterir */
  margin-left: 50px;              /* Sol tarafından 50px lik boşluk bıraktık */
  margin-top: 20px;               /* Üst taraftan da 20 px lik boşluk bıraktık */
}

.container .navbar .logo a {      /* class ı logo olan div içerisindeki a etiketine müdahale ediyoruz */
  text-decoration: none;          /* Linkin altındaki çizgiyi kaldırdık */
  font-size: 30px;                /* Yazı boyutunu belirledik */
  font-family: sans-serif;        /* Yazı tipini belirledik */
  color: #f3f3f3;               /* Yazı rengini belirledik */
} 

.navbar ul {
  float:right;                    /* Menüyü sağ tarafa yerleştirmek için kullandık, left deseydik sola koyardı */
  margin-right: 20px;             /* Sağa yanaşmış olan menünün sağ tarafında boşluk bırakmak için yazılmıştır */
}

.navbar ul li {                   /* Menü seçeneklerine müdahele ediyoruz */
  list-style: none;               /* list lerin önündeki noktaları kaldırmak için kullandık */
  display: inline-block;          /* Menü tasarımlarında navbar seçeneklerini yanyana yazdırmak için kullanılır, aksi takdirde html deki gibi alt alta yazar*/
  margin: 0 8px;                  /* Üstten 0 yanlardan 8px boşluk verdik her iki navbar seçeneği arasında 8+8=16 px boşluk olur */
  line-height: 80px;              /* Bu kısmın div içerisinde dikey olarak ortada olması için yazdık, 80 px vermemizin sebebi ise navbar class ına sahip olan div in height 80 olduğu için */
}

.navbar ul li a {                 /* Navbar da bulunan ve menüyü oluşturan link etiketleri üzerinde işlem yapıyoruz */
  color: white;                 /* Link renklerini ayarladık */
  text-decoration: none;          /* Altlarındaki link olmalarından dolayı gelen çizgileri kaldırdık */
  font-size: 20px;                /* Yazı boyutlarını ayarladık */
  padding: 6px 13px;              /* Navbar class ına sahip olan div içerisinde textlerin boşluklarını ayarladık */
  font-family: Roboto;            /* Yazı tipini belirledik, bunu kullanabilmek için ya html sayfasında google.font url sini linkleriz ya da burada yaptığımız gibi yukarıdaki şekilde @import kodu yazarız */
  transition: 0.5s;               /* Bununla gecikme süresi ayarlayabiliyoruz, efektlerin geçiş süreleri ile ilgili, görsellik açısından kullanımı uygun olur */
}

.navbar ul li a.active,           /* active class ına sahip seçenek (Home). Bunu ilk başta yazmasaydık da olurdu, böyle olunca direk  uygulanmış geldi */
.navbar ul li a:hover {           /* Menü bar üzerindeki seçeneklerin üzerine gelindiğinde işlem yaptırmak için yazıldı, üstteki kod ile hepsi kapsanmış oldu */
  background: #ff6e00;          /* Home seçeneğinin arka plan rengi hemen uygulanmış olacak, diğerleri de mouse ile üzerlerine gelindiğinde */
  border-radius: 5px;             /* Köşeleri yuvarlamak için kullanıldı */
} 

.container .center {              /* Büyük sayfamın class ı container ve ben onun içindeki class ı center olan div e müdahale ediyorum */
  position: absolute;             /* Div üstüne yazdırabilmek için kullanıldı, relative olsaydı olmazdı yanına yazardı */
  top: 50%;                       /* Sıradaki (arka arkaya) 3 kod ile bu div i class ı container olan div in tam merkezine yerleştirebildik */
  left: 50%;
  transform: translate(-50%, -50%);/* Üstteki diğer top ve left kodları ile birlikte elemanın yerini belirleyebilmek için kullanılır */
  font-family: sans-serif;        /* Div içerisindeki yazıların tipini belirledim */
  user-select: none;              /* Kullanıcının text leri seçememesini (mouse ile highlight etmek) sağlar */
}

.center h1 {                      /* classı center olan div içerisindeki h1 etiketine müdahale ediyoruz */
  color: black;                 /* Rengini belirledik */
  font-size: 70px;                /* Boyutunu belirledik */
  font-weight: bold;              /* Yazı kalınlığını belirledik */
  width: 900px;                   /* Genişliğini belirledik */
  text-align: center;             /* Yazıyı div içinde ortaladık */
}

.center h2 {                      /* classı center olan div içerisindeki h1 etiketine müdahale ediyoruz */
  color: #fff;                  /* Rengini belirledik */
  font-size: 50px;                /* Boyutunu belirledik */
  font-weight: bold;              /* Yazı kalınlığını belirledik */
  width: 885px;                   /* Genişliğini belirledik */
  margin-top: 10px;               /* Üstteki yazı ile arasını açtık */
  text-align: center;             /* Yazıyı div içinde ortaladık */
}

.center .buttons {                /* class ı center olan Div içerisindeki classı buttons olan div e müdahale ediyoruz */
  margin: 35px 280px;             /* Butonları kapsayan div etiketinin konumunu ayarlamak için kullanıldı */
}

.buttons button {                 /* Class ı buttons olan div içerisindeki butonlara müdahele ediyoruz */
  height: 50px;                   /* Buton yüksekliğini ayarladık */
  width: 150px;                   /* Buton genişliğini ayarladık */
  font-size: 18px;                /* Buton üzerindeki yazı büyüklüğünü belirledik */
  font-weight: bold;              /* Yazı kalınlığını belirledik */
  color: white;                 /* Yazı rengini belirledik */
  background-color: rgb(207, 96, 88);  /* Buton arka plan rengini belirledik */
  border: 1px solid red;        /* Butona kenarlık verdik */
  cursor: pointer;                /* Mouse ile üzerine gelince cursor ın ok işaretinden el işaretine dönüştürmesi için kullanılır */
  outline: none;                  /* Dış çerçeve olmasın dedik */
  border-radius: 25px;            /* Butonların kçşelerini yuvarlamak için kullanıldı, hower yaptığında da olabilirdi */
  transition: 0.5s;               /* Buton efektleri için geçiş süresini belirledik */
}
.buttons button:hover {           /* Butonların üzerine gelindiğinde */
  background: #fff;             /* Arka plan rengini değiştirdik */
  color: rgb(207, 96, 88);      /* Buton üzerindeki yazıların rengini değiştirdik */
}
